/* COLORS
    BPI RED:    #B11116
    BPI GOLD:   #B11116

*/

html{
    font-family: 'Roboto';
}
/* not firefox lol*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for firefox*/
input[type=number] {
    -moz-appearance:textfield;
    margin: 0;
}

.universalInputBox{
    width: 90%;
    height: 3em;
    font-size: 1.3em;
    margin: 0;
    padding: 0 3%;
    border: 5px;
}
input[type=number].universalInputBox{
    width: 84%;
    text-align: right;
    padding: 0 5%;
}

div.slider span.sMin{
    float: left;
}

div.slider span.sMax{
    float: right;
}

.lh1{
    display: block;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.lh2 {
    display: block;
    font-size: .83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

div#main{
    border-radius: 25px;
    background: #edf1ff;
    padding: 20px;
    width: 700px;
    min-height: 290px;
    margin: auto;
}

div.section{
    display: table;
    width: 100%;
    margin: 0;
    border: 0;
}

div.row{
    display: table-row;
    width: 100%;
}

div.col{
    position: relative;
    display: table-cell;
}

div.contrastLT{
    border-radius: 20px;
    background: #ffffff;
    padding: 16px;
    margin: auto;
}

input[type=range].sliderBPI{
    -webkit-appearance: none;
    background-color: #B11116;
}